# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.4.4

## Series creation

Create an empty pandas Series

In [10]:
pd.Series([],dtype=float)

Series([], dtype: float64)

Given the X python list convert it to an Y pandas Series

In [11]:
X = [1,2,3]
pd.Series(X)

0    1
1    2
2    3
dtype: int64

 Given the X pandas Series, name it 'My letters'

In [21]:
X = pd.Series(['A','B','C'])
X.name='My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

Given the X pandas Series, show its values

In [17]:
X.values

array(['A', 'B', 'C'], dtype=object)

# Series Indexation

Assign index names to the given X pandas Series

In [24]:
X.index = ['Row1','Row2','Row3']
X

Row1    A
Row2    B
Row3    C
Name: My letters, dtype: object

OR

In [25]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

Given the X pandas Series, show its first element

In [26]:
X[0]

'A'

OR

In [28]:
X.iloc[0] # by position

'A'

OR

In [29]:
X['first'] # by index

'A'

Given the X pandas Series, show its last element

In [30]:
X.iloc[-1]

'C'

OR

In [31]:
X[-1]

'C'

OR

In [32]:
X['third']

'C'

Given the X pandas Series, show all middle elements

In [37]:
X.iloc[1:-1]

second    B
dtype: object

OR

In [36]:
X[1:-1] # by position

second    B
dtype: object

Given the X pandas Series, show the elements in reverse position

In [39]:
X.iloc[::-1]

third     C
second    B
first     A
dtype: object

OR

In [40]:
X[::-1]

third     C
second    B
first     A
dtype: object

Given the X pandas Series, show the first and last elements

In [43]:
# Not the best way; its now a list
X.iloc[0],X.iloc[-1]

('A', 'C')

OR

In [45]:
# Not the best way; its now a list
X[0],X[-1]

('A', 'C')

In [46]:
X.iloc[[0, -1]]

first    A
third    C
dtype: object

OR

In [47]:
X[[0, -1]]

first    A
third    C
dtype: object